@model IEnumerable<ICT272_Assignment_3_Online_Tourism_Platform.Models.TravelPackage>

@{
	ViewData["Title"] = "Travel Packages";
}

<h2 class="mt-4 mb-4">Travel Packages</h2>
<div class="row">
	@foreach (var tour in Model)
	{
		<div class="col-md-4 mb-4">
			<div class="card h-100 shadow">
				@if (!string.IsNullOrEmpty(tour.ImageUrl))
				{
					<img src="@tour.ImageUrl" class="card-img-top" style="height: 200px; object-fit: cover;" alt="@tour.Title" />
				}
				<div class="card-body d-flex flex-column">
					<h5 class="card-title">@tour.Title</h5>
					<p class="card-text">@tour.Description</p>
					<ul class="list-group list-group-flush mb-3">
						<li class="list-group-item">Price: <b>$@tour.Price</b></li>
						<li class="list-group-item">Duration: <b>@tour.DurationDays days</b></li>
						<li class="list-group-item">Max Group Size: <b>@tour.MaxGroupSize</b></li>
						<li class="list-group-item">Agency: <b>@(tour.Agency != null ? tour.Agency.AgencyName : "N/A")</b></li>
					</ul>
					<a href="@Url.Action("Create", "Booking", new { travelPackageId = tour.Id })" class="btn btn-primary mt-auto">Book</a>
				</div>
			</div>
		</div>
	}
</div>