@model ICT272_Assignment_3_Online_Tourism_Platform.Models.GuidedTours
@inject ICT272_Assignment_3_Online_Tourism_Platform.Data.ICT272_Assignment_3_Online_Tourism_PlatformContext _context

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    string userRole = null;
    User currentUser = null;

    if (User.Identity.IsAuthenticated)
    {
        var email = User.Identity.Name;
        currentUser = _context.User.FirstOrDefault(u => u.Email == email);

        if (currentUser != null)
        {
            userRole = currentUser.Role;
        }
    }
}

<h1>Details</h1>

<div>
    <h4>GuidedTours</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ImageUrl)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ImageUrl)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DurationDays)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DurationDays)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaxGroupSize)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaxGroupSize)
        </dd>
    </dl>

    @if (User.Identity.IsAuthenticated && User.IsInRole("Tourist"))
    {
        <div class="mt-4">
            <a href="@Url.Action("Create", "GuidedTourBooking", new { guidedTourId = Model.Id })" class="btn btn-success">Book This Tour</a>
        </div>
    }
    else
    {
        <a href="@Url.Action("Register", "Home")" class="btn btn-success">Register and Book</a>
    }
  
</div>

@if (userRole is "Admin")
{
    <div>
        <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
        <a asp-action="Index">Back to List</a>
    </div>
}
